In [20]:
import os

os.environ["SPARK_HOME"] = r"C:\Users\joaoh\Desktop\SoftWares\spark-3.5.5-bin-hadoop3"

In [21]:
import findspark
findspark.init()

In [22]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Practise").getOrCreate()

In [23]:
spark

In [24]:
df_pyspark = spark.read.csv("Pasta1.csv", header=True, inferSchema=True)

In [25]:
df_pyspark.show()

+---+-------------+----+
| Id|         Name| Age|
+---+-------------+----+
|  2|Maria Antonia|  27|
|  3|     Clarisse|  20|
|  4|         João|  34|
|  5|      Rogerio|  50|
|  6|       Marcio|NULL|
|  7|         NULL|  35|
+---+-------------+----+

In [26]:
# Drop Columns
df_pyspark.drop("Age").show()

+---+-------------+
| Id|         Name|
+---+-------------+
|  2|Maria Antonia|
|  3|     Clarisse|
|  4|         João|
|  5|      Rogerio|
|  6|       Marcio|
|  7|         NULL|
+---+-------------+

In [27]:
df_pyspark.show()

+---+-------------+----+
| Id|         Name| Age|
+---+-------------+----+
|  2|Maria Antonia|  27|
|  3|     Clarisse|  20|
|  4|         João|  34|
|  5|      Rogerio|  50|
|  6|       Marcio|NULL|
|  7|         NULL|  35|
+---+-------------+----+

In [28]:
## Drop Null Values
df_pyspark.na.drop().show()

+---+-------------+---+
| Id|         Name|Age|
+---+-------------+---+
|  2|Maria Antonia| 27|
|  3|     Clarisse| 20|
|  4|         João| 34|
|  5|      Rogerio| 50|
+---+-------------+---+

In [29]:
### All -> Drop all rows that have null values in all columns
### Any -> Drop all rows that have null values in any column

df_pyspark.na.drop(how="all").show()
df_pyspark.na.drop(how="any").show()

+---+-------------+----+
| Id|         Name| Age|
+---+-------------+----+
|  2|Maria Antonia|  27|
|  3|     Clarisse|  20|
|  4|         João|  34|
|  5|      Rogerio|  50|
|  6|       Marcio|NULL|
|  7|         NULL|  35|
+---+-------------+----+

+---+-------------+---+
| Id|         Name|Age|
+---+-------------+---+
|  2|Maria Antonia| 27|
|  3|     Clarisse| 20|
|  4|         João| 34|
|  5|      Rogerio| 50|
+---+-------------+---+

In [30]:
# Tresh -> Drop rows that have at least a certain number of non-null values

df_pyspark.na.drop(thresh=2).show()

+---+-------------+----+
| Id|         Name| Age|
+---+-------------+----+
|  2|Maria Antonia|  27|
|  3|     Clarisse|  20|
|  4|         João|  34|
|  5|      Rogerio|  50|
|  6|       Marcio|NULL|
|  7|         NULL|  35|
+---+-------------+----+

In [32]:
df_pyspark = df_pyspark.na.drop(thresh=2)

In [31]:
df_pyspark.show()

+---+-------------+----+
| Id|         Name| Age|
+---+-------------+----+
|  2|Maria Antonia|  27|
|  3|     Clarisse|  20|
|  4|         João|  34|
|  5|      Rogerio|  50|
|  6|       Marcio|NULL|
|  7|         NULL|  35|
+---+-------------+----+